/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}





/**************/
/* Kleur variabelen */
/**************/


:root {

    /* Body */
  --background-color:#ffffff;
  --second-background:#ffd3e8;
  --third-background: #ffdded;
  --fourth-background:#d9f2ff;
  
  
  /* Text */
  --header-font: Kanit;
  --main-color:#333;
  --accent-color:#fff;
  --accent-2:#ff7abc;
  --shadow: 0.05em 0.05em rgb(0 0 0 / 14%);

  /* Button */
  --button-background1:#ff7abc;
  --button-background2:#b9e2f8;

 
}

/* Changes the colors of the selected area. */

::selection {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 80, 153);
}

/* width of the scrollbar (vertical & horizontal) */
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  var(--accent-2);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 80, 153);
}

/**************/
/* Basis */
/**************/


body {
  background: #fff;
  color: #666;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25em;
  margin: 0;
  padding: 0;
  
}

button {
  background-color: #ff93c9;
  color: #fff;
  width: 12em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.15em;
  margin-bottom: 2em;
  padding: 0.5em 1em 0.5em 1em;
  border: 0.05em solid #ff93c9;
  border-radius: 0.5em;
  transition: all 0.25s ease-in-out;
}

button:hover {
  background-color: #ffb8dc;
  border-color: #ffb8dc;
  box-shadow: var(--shadow);
}

p {
  margin-top: -0.5em;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h1, h2 {
  margin-top: -0.10em;
}

ul, li, a {
  text-decoration: none;
  list-style-type: none;
}


/**************/
/* Navigation
/**************/

header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  margin: 2em 0 2em 0;
}

/* For desktop */

@media screen and (min-width: 600px) {

  nav {
    background: white;
    position: sticky;
    top: 0;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #8669ab;
    z-index: 9999;
  }

  nav button {
    display: none;
  }

  nav button:hover {
    display: none;
  }

  nav button:focus {
    color:rgb(255, 80, 153)
  }

  nav a.active {
    color: rgb(255, 80, 153);
  }

  nav ul {
    transform: none;
  }

  nav ul.terug {
    transform: none;
    transition:none;
    opacity: 0;
   }
  
  ul {
    background-color:#fff;
    overflow: auto;
  }
  
  li {
    display: inline-block;
    padding: 1em;
    list-style-type: none;
  } 
}

/* For mobile */

@media only screen and (max-width: 600px) {

  nav button {
    background:none;
    border: none;
    padding: 0;
    margin: 0;
  }

  nav button:hover {
    background:none;
    border: none;
    box-shadow: none;
    cursor: pointer;
  }

  nav  {
    background-color: white;
    position: sticky;
    top: 0;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 99;
  }

  nav ul {
    background-color: white;
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left:10px;
    width: 90%;
    border: 1px solid #ff7abc;
    z-index: 99;
    opacity: 0;
    transition: all 0.6s;
    transition-delay: 0.1s;
    transform: translateX(-30em);
  }

  nav ul.terug {
  transform: translateX(0);
  transition:0.5s;
  opacity: 1;
 }

 nav li {
    margin: 10px;
  }


  #bars, .menu {
    color: #8669ab;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bolder;
  }

  #bars { 
    padding: 1em;
    margin-left: 1em;
  }

  .menu {
    font-family: "Quicksand";
  }
}

/**************/
/* Sections
/**************/



section {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2em;
}



/**************/
/* Section 1: kawaiify */
/**************/

#kawaiify {
  background-color: var(--second-background);
  text-align: center;
}

#kawaiify img {
  max-width: 150%;
  height: auto;
  margin-top: -2em;
}

#kawaiify button {
  bottom: 0;
}


.kawaiifycontent h1 {
  font-family: var(--header-font);
  font-size: 3em;
  line-height: 0.85em;
  text-transform: uppercase;
  color: var(--accent-color);
  font-weight:bolder;
  text-shadow: var(--shadow);
}

.kawaiifycontent h2 {
  font-family: var(--header-font);
  font-size: 2em;
  color: var(--accent-color);
  font-weight:bolder;
  text-shadow: var(--shadow);
  margin-top: -0.5em;
}

.kawaiifycontent h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  color: var(--accent-color);
  font-weight:bolder;
  text-shadow: var(--shadow);
  margin-top: -0.25em;
}


@media screen and (min-width: 600px) {

  #kawaiify {
    background-image: url("../images/kb-heropic-desktop-1b.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    text-align: left;
  }

  #kawaiify img {
    max-width: 100%;
    display: none;
  }

  .kawaiifywrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto auto;
  }

  .kawaiifycontent {
    width: 50%;
    left: 20em;
  }
}

/**************/
/* Section 2: What subscribers think */
/**************/




#review {
  background-color: var(--background-color);
  text-align: center;
  align-items: center;
  
}

#review h2 {
  font-family: var( --header-font);
  color: var(--accent-2);
  text-align: center;
  align-items: center;
}


#review img {
  margin: 1em;
}


.reviewicon {
  border: 0.1em solid #fff;
  border-radius: 20em;
}


.rating {
  color: #ffd700;
  letter-spacing: 0.25em;
  margin-top:-0.8em;
}

blockquote {
  color: var(--accent-2);
  font-style: italic;
}

blockquote::first-letter {
  color: #ffd700;
}




/**************/
/* Section 3 */
/**************/



#features {
  background-color: var(--third-background);
  text-align: center;
  align-items: center;
}

#features img {
  max-width: 150%;
  height: auto;
  margin-top: -3em;
}

#features h3 {
  font-family: var( --header-font);
  color: var(--accent-2);
  text-align: center;
  align-items: center;
  
}

.feature-icon {
  position: relative;
  background-color: var(--accent-2);
  color: #fff;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}

.feature-icon .fa {
  position: absolute;
  font-size: 1.5em;
  width: 1em;
  height: 1em;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}


/**************/
/* Section 4 grid */
/**************/


#included {
  background-color: var(--background-color);
  text-align: center;
  align-items: center;
}

#included h2 {
  font-family: var( --header-font);
  color: var(--accent-2);
  text-align: center;
  align-items: center;
  
}

/* Item slider */

.items-slide {
  display: flex;
  overflow-x: auto;
  padding: 0 0 4em;
}

.items-slide a {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  flex-direction: column-reverse;
}

.items-slide img {
  width: 50%;
}

/* For desktop */

@media screen and (min-width: 600px) {

  .grid { 
    width: 100%;
    position: relative;  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr 1fr 1fr));
    grid-gap:1em;
    grid-auto-flow: dense;
    margin-top: 1em;
  }

  .grid-item {
    position: relative;
    display: block;
    overflow: hidden;
    
  }

  .grid-item:nth-of-type(5n) {
    grid-column:span 2;
  }
  
  .grid-item img {
    max-width: 100%;
    transition: all 0.3s;
  }
  
  .grid-item:hover img {
    transform: scale(1.3);
  }
  
  .overlay {
    background: rgba(255, 116, 174, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    opacity: 0;
    transition: .5s ease;
  }
  
  .grid-item:hover .overlay {
    overflow: hidden;
    opacity: 1;
  }
  
  .content {
    width:100%;
    position: absolute;
    color: var(--accent-color);
    top: 50%;
    left: 50%;
    padding: 1em;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}


/* For mobile */

@media only screen and (max-width: 600px) {


/* Grid met img hover */

  .grid { 
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-left: -3em;
    margin-right: -3em;
  }

  .grid-item {
    position: relative;
    overflow: hidden;
    margin: 1em;
  }

  .grid-item img {
    vertical-align: top;
    max-width: 100%;
    transition: all 0.3s;
  }

  .grid-item:hover img {
    transform: scale(1.3);
  }

  .overlay {
    background: rgba(255, 116, 174, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    opacity: 0;
    transition: .5s ease;
  }

  .grid-item:hover .overlay {
    overflow: hidden;
    opacity: 1;
  }

  .content {
    width:100%;
    position: absolute;
    color: var(--accent-color);
    top: 50%;
    left: 50%;
    padding: 1em;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.hoverbutton {
  background-color: transparent;
  font-size: 0.75em;
  padding: 0.5em;
  border: 0.15em solid #fff;
  border-radius: 0.5em;
}

.hoverbutton a {
  background-color: transparent;
  color: var(--accent-color);
  text-decoration: none;
}







/**************/
/* Section 5 Carousel */
/**************/






#past {
  background-color: var(--fourth-background);
  text-align: center;
  align-items: center;
}

#past h2 {
  font-family: var( --header-font);
  color: var(--accent-2);
  text-align: center;
  align-items: center;  
}

.pastcontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.pastitem {
  background: #fff;
  overflow: hidden;
  text-align: center;
  margin-bottom: 1em;
  max-width: 300px;
  border-radius: 8px;
}

.pastitem img {
  max-width: 100%;
}









/**************/
/* Section 6 */
/**************/







#concept {
  width: 50%;
  background-color: var(--background-color);
  margin: auto auto;
  text-align: center;
  align-items: center;
}

#concept h2 {
  font-family: var( --header-font);
  color: var(--accent-2);
}

#concept a {
  color: var(--main-color);  
}

#concept a:hover {
  color: var(--accent-2);  
  transition: 0.3s ease-in;
}


#concept img {
  margin: 1em; 
}

#concept a:hover {
  transform: rotate(360deg);
  transition: 0.5s ease-in;
}








/**************/
/* Section 7 het plan */
/**************/







#plan {
  background-image: url("../images/planbg.png");
  background-color: #ffb5d8;
  color: var(--accent-color);
  text-align: center;
  align-items: center;
  margin-bottom: 1em;
}

#plan h2 {
  font-family: var( --header-font);
  color: var(--accent-color);
  text-align: center;
  align-items: center;
  
}


/**************/
/* Section 8 The community */
/**************/

#join {
  background-color: var(--background-color);
  text-align: center;
  align-items: center;
}

#join h2 {
  font-family: var( --header-font);
  color: var(--accent-2);
  
}








/**************/
/* About.html */
/**************/






/**************/
/* section 1 introduction */
/**************/

video {
  width: 50%;
}

@media only screen and (max-width: 600px) { 
  video {
    width: 100%;
  }
}

#introduction {
  background-image: url("../images/kb-heropic-desktop-1b.jpg");
  align-items: center;
}



#introduction h2 {
  font-family: var( --header-font);
  color: var(--accent-2);
}



/**************/
/*  footer */
/**************/

footer {
  background-color: #ff93c9;
  color: var(--accent-color);
  padding: 3em;
}

footer h2 {
  font-family: var( --header-font);
  color: var(--accent-color);
  text-align: center;
  align-items: center;
  
}

footer h5 {
  font-size: 1.1em;
  font-family: var( --header-font);
  color: var(--accent-color);
  
}

footer p { /* Changes the size of the footer's paragraph */
  font-size: 0.9em;  
  color: #fff;
}

footer ul, footer li {
  margin: 0;
  padding: 0;
}

footer ul { 
  display: flex;
  flex-direction: column;
  background-color: #ff93c9;
  line-height: 0;
  color: #fff;
  
  
}

footer li {
  display: inline-block;
  line-height: 2em;
  list-style-type: none;
}

footer a { 
  font-size: 0.9em;  
  color: #fff;
}

footer .copyright {
  padding-top: 0;
  text-align: left;
}

footer .site-info {
  color: #fff;
  font-size: 0.8em;
  text-transform: none;
}

footer .site-info a {
  text-decoration: none;
  color: #fff;
}

footer .fa {
  color: var(--accent-color);
  font-size: 1.2em;
  letter-spacing: 1em;
}

/* Footer button */

footer .started {
  width: 100%;
  background-color: var(--button-background2);
  padding: 1em;
  text-align: center;
  align-items: center;
}

footer .started:hover {
  background-color: #caedff;
}

/**************/
/* Forms */
/**************/

form {
  display: flex;
  position: relative;
  padding-bottom: 1em;
}

footer input#email {
  width: 100%;
  height: 2.5em;
  border: none;
  padding: 0.5em;
  border-radius: 0.25em;
}

button.news-submit {
  display: inline-block;  
  width: 50px;
  height: 2.5em;
  position: absolute;
  cursor: pointer;
  color:rgb(255, 80, 153);
  right: 0;
}

footer .news-submit .fa {
  color:rgb(255, 80, 153);
}

footer button, footer button:hover {
  background: none;
  box-shadow: none;
  border: none;
  transition: none;
}