/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}





/**************/
/* Kleur variabelen */
/**************/





:root {

    /* Body */
  --background-color:#ffffff;
  --second-background:#ffd3e8;
  --third-background: #ffdded;
  --fourth-background:#d9f2ff;
  
  
  /* Text */
  --header-font: Kanit;
  --main-color:#333;
  --accent-color:#fff;
  --accent-2:#ff7abc;
  --shadow: 0.05em 0.05em rgb(0 0 0 / 14%);

  /* Button */
  --button-background1:#ff7abc;
  --button-background2:#b9e2f8;

 
}

/**************/
/* Basis */
/**************/


body {
  background: #fff;
  color: #666;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25em;
  margin: 0;
  
}

button {
  background-color: #ff93c9;
  color: #fff;
  width: 12em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.15em;
  padding: 0.5em 1em 0.5em 1em;
  border: 0.05em solid #ff93c9;
  border-radius: 0.5em;
  transition: all 0.25s ease-in-out;
}

button:hover {
  background-color: #ffb8dc;
  border-color: #ffb8dc;
  box-shadow: var(--shadow);
}






/**************/
/* Header & nav */
/**************/





header {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}


section {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2em;
}






/**************/
/* Section 1: kawaiify */
/**************/


section:first-of-type {
  background-color: var(--second-background);
  text-align: center;
  align-items: center;
  
}

section:first-of-type img {
  max-width: 100%;
  height: auto;
}

section:first-of-type button {
  bottom: 0;
}


section:first-of-type > h1 {
  font-family: var(--header-font);
  font-size: 2em;
  color: var(--accent-color);
  font-weight:bolder;
  text-shadow: var(--shadow);
}

section:first-of-type > h2 {
  font-family: var(--header-font);
  font-size: 1.5em;
  color: var(--accent-color);
  font-weight:bolder;
  text-shadow: var(--shadow);
}

section:first-of-type > h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25em;
  color: var(--accent-color);
  font-weight:bolder;
  text-shadow: var(--shadow);
}



/**************/
/* Section 2: What subscribers think */
/**************/




section:nth-of-type(2) {
  background-color: var(--background-color);
  text-align: center;
  align-items: center;
}

section:nth-of-type(2) h1 {
  font-family: var( --header-font);
  color: var(--accent-2);
  text-align: center;
  align-items: center;
  
}

.reviewicon {
  border: 0.1em solid #fff;
  border-radius: 20em;
}


.rating {
  color: #ffd700;
  letter-spacing: 0.25em;
  margin-top:-0.8em;
}

blockquote {
  color: var(--accent-2);
  font-style: italic;
}

blockquote::first-letter {
  color: #ffd700;
}




/**************/
/* Section 3 */
/**************/




section:nth-of-type(3) {
  background-color: var(--third-background);
  text-align: center;
  align-items: center;
}

section:nth-of-type(3) h3 {
  font-family: var( --header-font);
  color: var(--accent-2);
  text-align: center;
  align-items: center;
  
}


.feature-icon {
  position: relative;
  background-color: var(--accent-2);
  color: #fff;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}

.feature-icon .fa {
  position: absolute;
  font-size: 1.5em;
  width: 1em;
  height: 1em;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}


/**************/
/* Section 4 */
/**************/


section:nth-of-type(4) {
  background-color: var(--background-color);
  text-align: center;
  align-items: center;
}

section:nth-of-type(4) h2 {
  font-family: var( --header-font);
  color: var(--accent-2);
  text-align: center;
  align-items: center;
  
}

.items-slide {
  display: flex;
  overflow-x: auto;
  padding: 0 0 4em;
}

.items-slide a {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  flex-direction: column-reverse;
}

.items-slide img {
  width: 50%;
}

.grid { 
  display: flex;
  flex-direction: column;
  margin-left: -2em;
  margin-right: -2em;
}

.grid img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0.25em 0 0.25em 0;
}


/**************/
/* Section 5 */
/**************/


section:nth-of-type(5) {
  background-color: var(--background-color);
  text-align: center;
  align-items: center;
}

section:nth-of-type(5) h2 {
  font-family: var( --header-font);
  color: var(--accent-2);
  text-align: center;
  align-items: center;
  
}


/**************/
/* Section 6 */
/**************/



section:nth-of-type(6) {
  background-color: var(--background-color);
  text-align: center;
  align-items: center;
}

section:nth-of-type(6) h2 {
  font-family: var( --header-font);
  color: var(--accent-2);
  text-align: center;
  align-items: center;
  
}


/**************/
/* Section 7 */
/**************/



section:nth-of-type(7) {
  background-color: var(--background-color);
  text-align: center;
  align-items: center;
}

section:nth-of-type(7) h2 {
  font-family: var( --header-font);
  color: var(--accent-2);
  text-align: center;
  align-items: center;
  
}



/**************/
/* Section 8 */
/**************/

section:nth-of-type(8) {
  background-color: var(--background-color);
  text-align: center;
  align-items: center;
}

section:nth-of-type(8) h2 {
  font-family: var( --header-font);
  color: var(--accent-2);
  text-align: center;
  align-items: center;
  
}



/**************/
/* Section 9 */
/**************/


footer {
  background-color: #ff93c9;
  color: var(--accent-color);
  padding: 1em;
}

footer h2 {
  font-family: var( --header-font);
  color: var(--accent-color);
  text-align: center;
  align-items: center;
  
}

footer h5 {
  font-size: 1.1em;
  font-family: var( --header-font);
  color: var(--accent-color);
  align-items: center;
  
}

footer p {
  font-size: 0.8em;  
}

footer .fa {
  color: var(--accent-color);
  font-size: 1.2em;
  letter-spacing: 1em;
}

footer button {
  background-color: var(--button-background2);
  border: 0.5em solid var(--button-background2);
  text-align: center;
  align-items: center;
}

footer button:hover {
  background-color: #caedff;
}



